<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4 id="comment-line-header">Leave a Comment</h4>
    <p id="comment-line-para">
      You can leave a comment using this comment form
    </p>

    <form>
      <div class="form-group">
        <label for="">Name</label>
        <input
          id="inputname"
          type="text"
          class="form-control shadow-effect"
          placeholder="Your Name"
        />
      </div>
      <div class="form-group">
        <label for="">Comment</label>
        <textarea
          id="inputcomment"
          class="form-control shadow-effect"
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Add your Comment here"
        ></textarea>
      </div>

      <button id="inputbutton" class="btn btn-info btn-theme">
        Add a Comment
      </button>
    </form>
  </div>
</div>
