<section class="mt-5">
  <div class="contanier mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        velit impedit nesciunt voluptas eaque, minus dolorum, necessitatibus
        quasi, soluta dicta molestiae ea voluptates eligendi nobis alias quos
        excepturi sapiente minima?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Sequi enim rerum pariatur quia magni fugiat dolorum
        saepe consequatur sint cumque a possimus deleniti rem corrupti, nesciunt
        officia iure hic incidunt ut ducimus veniam reprehenderit eligendi
        temporibus. Perspiciatis voluptatum corporis, ullam eveniet, tenetur id
        magnam molestias, consectetur animi nobis necessitatibus repellendus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        velit impedit nesciunt voluptas eaque, minus dolorum, necessitatibus
        quasi, soluta dicta molestiae ea voluptates eligendi nobis alias quos
        excepturi sapiente minima?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Praesentium illo commodi rerum ipsam qui esse aliquid
        delectus quam nemo repellat sint recusandae amet vitae facere, provident
        expedita reiciendis reprehenderit! Debitis, velit qui eaque excepturi
        fugiat repudiandae minima incidunt libero neque placeat autem unde
        corrupti, eveniet earum ullam vitae, dignissimos assumenda?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        velit impedit nesciunt voluptas eaque, minus dolorum, necessitatibus
        quasi, soluta dicta molestiae ea voluptates eligendi nobis alias quos
        excepturi sapiente minima?Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Quibusdam vitae fuga rerum tempora ab voluptates
        molestias ipsum odio praesentium quis quam iste maxime ut, placeat animi
        exercitationem veniam id eligendi natus architecto dolorum. Amet a rem
        consectetur provident nemo? Modi doloremque voluptatum libero rerum illo
        quibusdam ut similique, harum neque?
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
